<div class ="header">
  <div class="header-form">
    <a href="/">Carcierge</a>
    <div>
      <%= form_with url: '/posts', method: :get do |f| %>
        <%= f.text_field :search, class:'form_txt', size: 10, value: params[:search], :placeholder => "キーワード" %>
        <%= f.submit '検索', name: nil, class: 'btn btn__search' %>
      <% end %>
    </div>
    <button type=“button” onclick="location.href='/#abc'" class="btn search_type">メーカー・車種検索</button>
    <button type=“button” onclick="location.href='/#def'" class="btn search_type">ボディタイプ検索</button>
    <button type=“button” onclick="location.href='/#ghi'" class="btn search_type">エンジンタイプ検索</button>
  </div>
  <div class="header-left">
    <div class="change-buttons">
      <% if user_signed_in? %>
        <% if current_user.name == 'ゲスト'%>
          <p class="guest-name"><%= current_user.name %></p>
        <% else %>
          <p class="user-name"><%= current_user.name %></p>
          <% if @user.image.attached? %>
            <%= image_tag @user.image, size: '50x50', class: "header-img" %>
          <% else %>
            <%= image_tag 'no-image.png', size: '50x50', class: "header-img" %>
          <% end %>
        <% end %>
        <div class="hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <div class="menu-content">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to '投稿', new_post_path, class:"btn0" %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class:"btn0" %>
              </li>
              <li class="nav-item">
                <%= link_to 'カテゴリ追加', new_category_path, class:"btn0" %>
              </li>
              <li class="nav-item">
                <%= link_to 'カテゴリ一覧', categories_path, class:"btn0" %>
              </li>
              <li class="nav-item">
                <%= link_to "設定", user_path(current_user), class:"btn0" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn0" %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="login-item">
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn1"%>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class:"btn1"%>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class:"btn2"%>
          </li>
        </div>
      <% end %>
    </div>
  </div>
</div>
