<div class="home-main">
  <%= render "shared/devise" %>
  <div class="main-search">
    <h3 class="main-message">Carciergeで新しい車探し</h3>
    <div class="container-form">
      <%= form_with url: '/posts', method: :get do |f| %>
        <%= f.text_field :search, class:'form__txt', size: 10, value: params[:search], :placeholder => "キーワード" %>
        <%= f.submit '検索', name: nil, class: 'btn btn__search' %>
      <% end %>
    </div>
    <div class="posts-form">
      <%= form_with url: '/posts/new', method: :get do |f| %>
        <%= f.submit '投稿する', name: nil, class: 'btn btn__search' %>
      <% end %>
    </div>
  </div>
</div>
<div class="carcierge">
  <h3>Carciergeとは何か？</h3>
  <p>新しい車が欲しい！と思ったときに何が良いんだろう？どんな種類があるんだろう？<br>
  また、誰に聞けば良いんだ？実際にお店に行くのも億劫だなと思っている人もいるかと思います。<br>
  そんな時に使えるのが、Carcierge！<br>
  皆さんの悩みを共有して、自分に合った車探しをしましょう！</p>
</div>
<div class="home-sub">
  <h3 id="abc">メーカー・車種から検索</h3>
  <h2>国産車</h2>
  <div class="carcompany">
    <div class="car-item">
      <%= link_to posts_path(search: "トヨタ") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/toyota.png" alt="トヨタ" width="103" height="47">
        <div>トヨタ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">トヨタの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "プリウス") do %>
                <img src="https://rc.ke-s.cc/65/50/1457601446/images/carname/1/253-155_bca4f6bfe908a11f7241b1e8a36ffa24f6367db5.jpg" alt="プリウス" width="103" height="47">
                <span class="car-text">プリウス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ヴォクシー") do %>
                <img src="https://rc.ke-s.cc/65/50/1649205708/images/catalog/car/00100_07A00/202201_catalog1.jpg" alt="ヴォクシー" width="103" height="47">
                <span class="car-text">ヴォクシー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ハイエース") do %>
                <img src="https://rc.ke-s.cc/65/50/1650267400/images/catalog/car/00100_06A00/201205_catalog1.jpg" alt="ハイエース" width="103" height="47">
                <span class="car-text">ハイエース</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "アルファード") do %>
                <img src="https://rc.ke-s.cc/65/50/1592305329/images/carname/1/188-3491_5cd4144a9a6c40e2efc51ea506cd2584b4f908d4.jpg" alt="アルファード" width="103" height="47">
                <span class="car-text">アルファード</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "シエンタ") do %>
                <img src="https://rc.ke-s.cc/65/50/1661927080/images/carname/1/721-2661_f5caf214d5b87f053eee718ba6235532072cfec8.jpg" alt="シエンタ" width="103" height="47">
                <span class="car-text">シエンタ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "クラウン") do %>
                <img src="https://rc.ke-s.cc/200/150/1477977547/images/carname/1/218-72_279ce4c41e34f99bcce6f57ab598851ba8014b7a.jpg" alt="クラウン" width="103" height="47">
                <span class="car-text">クラウン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ノア") do %>
                <img src="https://rc.ke-s.cc/65/50/1561610952/images/carname/1/246-134_2ccc3458c26f9f785d783dd6f2d8d617956498e2.jpg" alt="ノア" width="103" height="47">
                <span class="car-text">ノア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "エスティマ") do %>
                <img src="https://rc.ke-s.cc/65/50/1592305628/images/carname/1/197-19742_89fc9c04b3adcfea356eef4fcd85a3128556004c.jpg" alt="エスティマ" width="103" height="47">
                <span class="car-text">エスティマ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ヴェルファイア") do %>
                <img src="https://rc.ke-s.cc/65/50/1592305497/images/carname/1/2002-21130_3b464c2011ef0690ddde8f209b2bd592ecf0f74f.jpg" alt="ヴェルファイア" width="103" height="47">
                <span class="car-text">ヴェルファイア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "アクア") do %>
                <img src="https://rc.ke-s.cc/65/50/1627364798/images/carname/1/2334-21855_6c3ec1bc3ac531a75a00501ae643210baf78aa1d.jpg" alt="アクア" width="103" height="47">
                <span class="car-text">アクア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ハリアー") do %>
                <img src="https://rc.ke-s.cc/65/50/1630478213/images/carname/1/249-18556_90675bb6ea4cf39ffe256d9d0e49c7f0f08ec9bd.jpg" alt="ハリアー" width="103" height="47">
                <span class="car-text">ハリアー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "RAV4") do %>
                <img src="https://rc.ke-s.cc/200/150/1678247468/images/catalog/car/00100_06400/201904_catalog1.jpg" alt="RAV4" width="103" height="47">
                <span class="car-text">RAV4</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "レクサス") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/lexus.png" alt="レクサス" width="103" height="47">
        <div>レクサス</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">レクサスの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "IS") do %>
                <img src="https://rc.ke-s.cc/65/50/1685685757/images/carname/142/1725-19828_92ea8da57eb7fae993338e02a528359fb746c056.jpg" alt="IS" width="103" height="47">
                <span class="car-text">IS</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "RX") do %>
                <img src="https://rc.ke-s.cc/65/50/1685685804/images/carname/142/2170-21664_871e74b05bd66988cc7b71e05e14a3b79b4f9e02.jpg" alt="RX" width="103" height="47">
                <span class="car-text">RX</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "LS") do %>
                <img src="https://rc.ke-s.cc/65/50/1685584198/images/carname/142/1788-21663_92f64b6d30adbc09c17ee2b9b77625c7280f6769.jpg" alt="LS" width="103" height="47">
                <span class="car-text">LS</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "NX") do %>
                <img src="https://rc.ke-s.cc/65/50/1685685794/images/carname/142/2528-23179_66886392f40d2e56503d3757477c971b5c14fbce.jpg" alt="NX" width="103" height="47">
                <span class="car-text">NX</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "GS") do %>
                <img src="https://rc.ke-s.cc/65/50/1424234434/images/carname/142/1786-20013_971ad4acc1359d7c6c92bd65f7897b3951dd8956.jpg" alt="GS" width="103" height="47">
                <span class="car-text">GS</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "HS") do %>
                <img src="https://rc.ke-s.cc/65/50/1424245712/images/carname/142/2225-21671_daae8d4febc35926a33540696bfbde2546f18352.jpg" alt="HS" width="103" height="47">
                <span class="car-text">HS</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CT") do %>
                <img src="https://rc.ke-s.cc/65/50/1447070719/images/carname/142/2296-21791_00fdfed423c25fc32f373405d496e11cf621300c.jpg" alt="CT" width="103" height="47">
                <span class="car-text">CT</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "LC") do %>
                <img src="https://rc.ke-s.cc/65/50/1685685766/images/carname/142/2843-23237_b901d7c3e6ae8a9e2679dbcbf360020e63229bfc.jpg" alt="LC" width="103" height="47">
                <span class="car-text">LC</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "RC") do %>
                <img src="https://rc.ke-s.cc/65/50/1685687093/images/carname/142/2562-23240_e3f33b83dabd3dc955a30edfb4093c0de872a2b3.jpg" alt="RC" width="103" height="47">
                <span class="car-text">RC</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "SC") do %>
                <img src="https://rc.ke-s.cc/65/50/1569596400/images/catalog/car/01100_00200/200808_catalog1.jpg" alt="SC" width="103" height="47">
                <span class="car-text">SC</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "LX") do %>
                <img src="https://rc.ke-s.cc/65/50/1685686263/images/carname/142/1722-23239_5e08f11b70dbaed0f831e834d04799951d6a43ac.jpg" alt="LX" width="103" height="47">
                <span class="car-text">LX</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ES") do %>
                <img src="https://rc.ke-s.cc/65/50/1550218863/images/carname/142/3003-22814_51368db93f3585e303d8092f7b349951fa59cd6b.jpg" alt="ES" width="103" height="47">
                <span class="car-text">ES</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "日産") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/nissan.png" alt="日産" width="103" height="47">
        <div>日産</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">日産の人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "セレナ") do %>
                <img src="https://rc.ke-s.cc/65/50/1592366168/images/carname/2/294-224_6525605e60686be9723ef42308b6804dd5866f1d.jpg" alt="セレナ" width="103" height="47">
                <span class="car-text">セレナ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "モコ") do %>
                <img src="https://rc.ke-s.cc/65/50/1398908899/images/carname/2/315-2180_27e4217e6339ec4971ad7d190fd4207db6dcc809.jpg" alt="モコ" width="103" height="47">
                <span class="car-text">モコ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "エクストレイル") do %>
                <img src="https://rc.ke-s.cc/228/171/1681366662/images/catalog/car/00200_06600/202001_catalog1.jpg" alt="エクストレイル" width="103" height="47">
                <span class="car-text">エクストレイル</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "スカイライン") do %>
                <img src="https://rc.ke-s.cc/65/50/1579778348/images/carname/2/290-208_dc47de1f5265299a7ac88dd3641bef53540d8a89.jpg" alt="スカイライン" width="103" height="47">
                <span class="car-text">スカイライン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ノート") do %>
                <img src="https://rc.ke-s.cc/65/50/1625811689/images/carname/2/1700-5517_438beddc027035a1eab27a73377bdf3a952e59cb.jpg" alt="ノート" width="103" height="47">
                <span class="car-text">ノート</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "フェアレディZ") do %>
                <img src="https://rc.ke-s.cc/65/50/1613954822/images/catalog/car/00200_05400/201907_catalog1.jpg" alt="フェアレディZ" width="103" height="47">
                <span class="car-text">フェアレディZ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "アリア") do %>
                <img src="https://rc.ke-s.cc/200/150/1659319040/images/catalog/car/00200_02000/202203_catalog1.jpg" alt="アリア" width="103" height="47">
                <span class="car-text">アリア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "キックス") do %>
                <img src="https://rc.ke-s.cc/200/150/1593500600/images/carname/2/2128-21409_7c78cd9f02ab62a6c27a7ac43f9d0aa767ddd127.jpg" alt="キックス" width="103" height="47">
                <span class="car-text">キックス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "サクラ") do %>
                <img src="https://rc.ke-s.cc/200/150/1654747410/images/carname/2/3302-23278_1eef85765d33e19f4c0557de035122353f1b2b7a.jpg" alt="サクラ" width="103" height="47">
                <span class="car-text">サクラ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "リーフ") do %>
                <img src="https://rc.ke-s.cc/228/171/1672036339/images/catalog/car/00200_04000/202002_catalog1.jpg" alt="リーフ" width="103" height="47">
                <span class="car-text">リーフ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ルークス") do %>
                <img src="https://rc.ke-s.cc/200/150/1682045972/images/catalog/car/00200_00500/202209_catalog1.jpg" alt="ルークス" width="103" height="47">
                <span class="car-text">ルークス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "デイズ") do %>
                <img src="https://rc.ke-s.cc/200/150/1592368638/images/carname/2/2462-22025_8ed41a5af0a6bba2598bcb28a2dd82d249062990.jpg" alt="デイズ" width="103" height="47">
                <span class="car-text">デイズ</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ホンダ") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/honda.png" alt="ホンダ" width="103" height="47">
        <div>ホンダ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">ホンダの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "ステップワゴン") do %>
                <img src="https://rc.ke-s.cc/65/50/1681287019/images/catalog/car/00300_10360/202205_catalog1.jpg" alt="ステップワゴン" width="103" height="47">
                <span class="car-text">ステップワゴン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "N-BOX") do %>
                <img src="https://rc.ke-s.cc/65/50/1681286988/images/catalog/car/00300_00400/201911_catalog1.jpg" alt="N-BOX" width="103" height="47">
                <span class="car-text">N-BOX</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "フリード") do %>
                <img src="https://rc.ke-s.cc/65/50/1681287005/images/catalog/car/00300_10348/202206_catalog1.jpg" alt="フリード" width="103" height="47">
                <span class="car-text">フリード</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "フィット") do %>
                <img src="https://rc.ke-s.cc/65/50/1666772080/images/carname/3/461-3620_4700cd40666b63bd443994b6a07f8b3f8fa0f260.jpg" alt="フィット" width="103" height="47">
                <span class="car-text">フィット</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "オデッセイ") do %>
                <img src="https://rc.ke-s.cc/65/50/1666151048/images/catalog/car/00300_10341/201911_catalog1.jpg" alt="オデッセイ" width="103" height="47">
                <span class="car-text">オデッセイ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ヴェゼル") do %>
                <img src="https://rc.ke-s.cc/65/50/1619422873/images/carname/3/2499-22086_b2df686600d7a3bdb05ce6963f14dca9eb40fa12.jpg" alt="ヴェゼル" width="103" height="47">
                <span class="car-text">ヴェゼル</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "シビック") do %>
                <img src="https://rc.ke-s.cc/200/150/1629778834/images/carname/3/449-21421_09a6f76620ac35d55caddd27bc9d244a77c0ed3b.jpg" alt="シビック" width="103" height="47">
                <span class="car-text">シビック</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CR-V") do %>
                <img src="https://rc.ke-s.cc/200/150/1561427945/images/carname/3/427-3294_511e6210f1eadd4648e3352b9e7dc6bea38a8fa4.jpg" alt="CR-V" width="103" height="47">
                <span class="car-text">CR-V</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ZR-V") do %>
                <img src="https://rc.ke-s.cc/200/150/1671779183/images/carname/3/3338-23340_d9c0ac904ea70f21a24d25f81715f590ccf96956.jpg" alt="ZR-V" width="103" height="47">
                <span class="car-text">ZR-V</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "インサイト") do %>
                <img src="https://rc.ke-s.cc/200/150/1679896668/images/catalog/car/00300_00800/201812_catalog1.jpg" alt="インサイト" width="103" height="47">
                <span class="car-text">インサイト</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ライフ") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00300_01000/201206_catalog1.jpg" alt="ライフ" width="103" height="47">
                <span class="car-text">ライフ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "クラリティ") do %>
                <img src="https://rc.ke-s.cc/200/150/1533711111/images/carname/3/2983-22780_d55737c69899e5cb94b7d4c1607ed38f92f296f8.jpg" alt="クラリティ" width="103" height="47">
                <span class="car-text">クラリティ</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "マツダ") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/mazda.png" alt="マツダ" width="103" height="47">
        <div>マツダ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">マツダの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "ロードスター") do %>
                <img src="https://rc.ke-s.cc/65/50/1669270530/images/catalog/car/00400_02000/201912_catalog1.jpg" alt="ロードスター" width="103" height="47">
                <span class="car-text">ロードスター</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CX-5") do %>
                <img src="https://rc.ke-s.cc/65/50/1678247468/images/catalog/car/00400_01300/202211_catalog1.jpg" alt="CX-5" width="103" height="47">
                <span class="car-text">CX-5</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "デミオ") do %>
                <img src="https://rc.ke-s.cc/65/50/1569596400/images/catalog/car/00400_02500/201409_catalog1.jpg" alt="デミオ" width="103" height="47">
                <span class="car-text">デミオ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "アクセラ") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00400_03000/201709_catalog1.jpg" alt="アクセラ" width="103" height="47">
                <span class="car-text">アクセラ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CX-3") do %>
                <img src="https://rc.ke-s.cc/200/150/1619422962/images/carname/4/2584-22210_0113341b52d63171eb0d1998f734976ec3a2758c.jpg" alt="CX-3" width="103" height="47">
                <span class="car-text">CX-3</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "フレア") do %>
                <img src="https://rc.ke-s.cc/200/150/1665448861/images/catalog/car/00400_00900/202001_catalog1.jpg" alt="フレア" width="103" height="47">
                <span class="car-text">フレア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CX-8") do %>
                <img src="https://rc.ke-s.cc/200/150/1678247468/images/catalog/car/00400_01500/202012_catalog1.jpg" alt="CX-8" width="103" height="47">
                <span class="car-text">CX-8</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CX-30") do %>
                <img src="https://rc.ke-s.cc/200/150/1662684092/images/catalog/car/00400_02400/202208_catalog1.jpg" alt="CX-30" width="103" height="47">
                <span class="car-text">CX-30</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CX-60") do %>
                <img src="https://rc.ke-s.cc/200/150/1666665502/images/catalog/car/00400_03900/202209_catalog1.jpg" alt="CX-60" width="103" height="47">
                <span class="car-text">CX-60</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "MX-30") do %>
                <img src="https://rc.ke-s.cc/200/150/1602485356/images/carname/4/3119-23029_d62e7328726dc437eecef5a1566f919bfc6e0526.jpg" alt="MX-30" width="103" height="47">
                <span class="car-text">MX-30</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "プレマシー") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00400_03200/201301_catalog1.jpg alt="プレマシー" width="103" height="47">
                <span class="car-text">プレマシー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "RX-8") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00400_05200/201111_catalog1.jpg" alt="RX-8" width="103" height="47">
                <span class="car-text">RX-8</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "スバル") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/subaru.png" alt="スバル" width="103" height="47">
        <div>スバル</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">スバルの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "ステラ") do %>
                <img src="https://rc.ke-s.cc/65/50/1621910403/images/carname/7/1743-13983_c4fd23420889d53d83177eee8ac7603b67187124.jpg" alt="ステラ" width="103" height="47">
                <span class="car-text">ステラ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "フォレスター") do %>
                <img src="https://rc.ke-s.cc/65/50/1561604318/images/carname/7/145-14684_9ea5430aa46f4bdfa368b9ceaa95c03403d5ce1b.jpg" alt="フォレスター" width="103" height="47">
                <span class="car-text">フォレスター</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "レヴォーグ") do %>
                <img src="https://rc.ke-s.cc/65/50/1621910088/images/carname/7/2518-22112_7a98dd2d7e2a361bfeb5877ffc0c610142842f9d.jpg" alt="レヴォーグ" width="103" height="47">
                <span class="car-text">レヴォーグ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "インプレッサ") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00600_01301/201510_catalog1.jpg" alt="インプレッサ" width="103" height="47">
                <span class="car-text">インプレッサ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "レガシィツーリングワゴン") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00600_03300/201305_catalog1.jpg" alt="レガシィツーリングワゴン" width="103" height="47">
                <span class="car-text">レガシィツーリングワゴン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "エクシーガクロスオーバー") do %>
                <img src="https://rc.ke-s.cc/200/150/1434598791/images/carname/7/2603-22245_1ee7012f206b081937aeaad4abf1baaf01a76617.jpg" alt="エクシーガクロスオーバー" width="103" height="47">
                <span class="car-text">エクシーガクロスオーバー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "クロストレック") do %>
                <img src="https://rc.ke-s.cc/200/150/1678424994/images/carname/7/3348-23375_8f1423bf432a8bdd9d8972113a12631714d2437f.jpg" alt="クロストレック" width="103" height="47">
                <span class="car-text">クロストレック</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ジャスティ") do %>
                <img src="https://rc.ke-s.cc/200/150/1478852039/images/carname/7/142-20391_51a875619c6c98449f25772975b64b3b2ae15b86.jpg" alt="ジャスティ" width="103" height="47">
                <span class="car-text">ジャスティ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "シフォン") do %>
                <img src="https://rc.ke-s.cc/200/150/1621910302/images/carname/7/2794-22515_91afc3299a26775179e1f16cf564780d22a448bb.jpg" alt="シフォン" width="103" height="47">
                <span class="car-text">シフォン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "プレオ") do %>
                <img src="https://rc.ke-s.cc/200/150/1456311462/images/carname/7/146-6703_c6bf859f78a5c781183b3cc19b07a1e9012a8ffa.jpg" alt="プレオ" width="103" height="47">
                <span class="car-text">プレオ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "レックス") do %>
                <img src="https://rc.ke-s.cc/200/150/1678432188/images/carname/7/1104-4548_d506ad786f54fc4f3265630949d03d20fbef9e64.jpg" alt="レックス" width="103" height="47">
                <span class="car-text">レックス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "WRX") do %>
                <img src="https://rc.ke-s.cc/200/150/1561604582/images/carname/7/2532-22143_b31c60d1139c4f82708124150c5d7cf3032e0516.jpg" alt="WRX" width="103" height="47">
                <span class="car-text">WRX</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "スズキ") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/suzuki.png" alt="スズキ" width="103" height="47">
        <div>スズキ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">スズキの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "ランディ") do %>
                <img src="https://rc.ke-s.cc/200/150/1662684092/images/catalog/car/00900_01200/202208_catalog1.jpg" alt="ランディ" width="103" height="47">
                <span class="car-text">ランディ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ハスラー") do %>
                <img src="https://rc.ke-s.cc/200/150/1396258310/images/carname/9/2492-22078_068c2939037ea8ee27ec9784022b525e644ee825.jpg" alt="ハスラー" width="103" height="47">
                <span class="car-text">ハスラー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "パレット") do %>
                <img src="https://rc.ke-s.cc/200/150/1411114390/images/catalog/car/00900_07001/201203_catalog1.jpg" alt="パレット" width="103" height="47">
                <span class="car-text">パレット</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ソリオ") do %>
                <img src="https://rc.ke-s.cc/200/150/1678247468/images/catalog/car/00900_02101/202012_catalog1.jpg" alt="ソリオ" width="103" height="47">
                <span class="car-text">ソリオ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "スペーシア") do %>
                <img src="https://rc.ke-s.cc/200/150/1559803590/images/carname/9/2453-22009_5c4499824e8a51ca2b46b7bb612c1991fbad900e.jpg" alt="スペーシア" width="103" height="47">
                <span class="car-text">スペーシア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "スイフト") do %>
                <img src="https://rc.ke-s.cc/200/150/1559803590/images/carname/9/2453-22009_5c4499824e8a51ca2b46b7bb612c1991fbad900e.jpg" alt="スイフト" width="103" height="47">
                <span class="car-text">スイフト</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ジムニー") do %>
                <img src="https://rc.ke-s.cc/200/150/1532677680/images/carname/9/131-7325_905c0717397693a0242b14e9814193fe58285d56.jpg" alt="ジムニー" width="103" height="47">
                <span class="car-text">ジムニー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "クロスビー") do %>
                <img src="https://rc.ke-s.cc/200/150/1591840278/images/catalog/car/00900_01700/201907_catalog1.jpg" alt="クロスビー" width="103" height="47">
                <span class="car-text">クロスビー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "エリオ") do %>
                <img src="https://rc.ke-s.cc/200/150/1457689063/images/carname/9/126-20000_792d18671a0b4bf4a42dec407dec6d365ee3f45e.jpg" alt="エリオ" width="103" height="47">
                <span class="car-text">エリオ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "エブリイ") do %>
                <img src="https://rc.ke-s.cc/200/150/1424951073/images/carname/9/2042-13585_7927ff5f303ae9c98b7c47b8a49ba321a45d7b5a.jpg" alt="エブリイ" width="103" height="47">
                <span class="car-text">エブリイ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "エスクード") do %>
                <img src="https://rc.ke-s.cc/200/150/1617011867/images/carname/9/124-10812_572714ae522a93c1a5953bba0ac83bf43b26bcd5.jpg" alt="エスクード" width="103" height="47">
                <span class="car-text">エスクード</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "アルト") do %>
                <img src="https://rc.ke-s.cc/200/150/1654760767/images/catalog/car/00900_10919/202112_catalog1.jpg" alt="アルト" width="103" height="47">
                <span class="car-text">アルト</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "三菱") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/mitsubishi.png" alt="三菱" width="103" height="47">
        <div>三菱</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">三菱の人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "アウトランダー") do %>
                <img src="https://rc.ke-s.cc/200/150/1644299422/images/catalog/car/00500_04500/201210_catalog1.jpg" alt="アウトランダー" width="103" height="47">
                <span class="car-text">アウトランダー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "エクリプスクロス") do %>
                <img src="https://rc.ke-s.cc/200/150/1678247468/images/catalog/car/00500_07600/202012_catalog1.jpg" alt="エクリプスクロス" width="103" height="47">
                <span class="car-text">エクリプスクロス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "コルト") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00500_01300/201107_catalog1.jpg" alt="コルト" width="103" height="47">
                <span class="car-text">コルト</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "タウンボックス") do %>
                <img src="https://rc.ke-s.cc/200/150/1650955684/images/catalog/car/00500_00400/201503_catalog1.jpg" alt="タウンボックス" width="103" height="47">
                <span class="car-text">タウンボックス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "デリカスペースギア") do %>
                <img src="https://rc.ke-s.cc/200/150/1451038022/images/carname/6/614-7973_d9f044448132edafd942ba0234cff2dd891e5053.jpg" alt="デリカスペースギア" width="103" height="47">
                <span class="car-text">デリカスペースギア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "デリカミニ") do %>
                <img src="https://rc.ke-s.cc/200/150/1681785144/images/carname/6/3352-23379_f19e34703c2724e0d67977d96cf2f8abe78ce4c8.jpg" alt="デリカミニ" width="103" height="47">
                <span class="car-text">デリカミニ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "パジェロ") do %>
                <img src="https://rc.ke-s.cc/200/150/1451038130/images/carname/6/617-1447_cc2a26d1da4ff7e0d1eb7471d4aedc4451c7877c.jpg" alt="パジェロ" width="103" height="47">
                <span class="car-text">パジェロ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ミラージュ") do %>
                <img src="https://rc.ke-s.cc/200/150/1681369667/images/catalog/car/00500_01500/202004_catalog1.jpg" alt="ミラージュ" width="103" height="47">
                <span class="car-text">ミラージュ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "RVR") do %>
                <img src="https://rc.ke-s.cc/200/150/1623393221/images/carname/6/590-1223_c68f751511525aaeb3689fd0ad301eece6aefd8a.jpg" alt="RVR" width="103" height="47">
                <span class="car-text">RVR</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "eKカスタム") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00500_01201/201510_catalog1.jpg" alt="eKカスタム" width="103" height="47">
                <span class="car-text">eKカスタム</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "eKクロス") do %>
                <img src="https://rc.ke-s.cc/200/150/1654747576/images/carname/6/3301-23277_a43ce0c1394d830556c778bd666654587507b0ec.jpg" alt="eKクロス" width="103" height="47">
                <span class="car-text">eKクロス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "eKスペース") do %>
                <img src="https://rc.ke-s.cc/200/150/1681720442/images/catalog/car/00500_00801/202003_catalog1.jpg" alt="eKスペース" width="103" height="47">
                <span class="car-text">eKスペース</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ダイハツ") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/daihatsu.png" alt="ダイハツ" width="103" height="47">
        <div>ダイハツ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">ダイハツの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "アルティス") do %>
                <img src="https://rc.ke-s.cc/200/150/1659425770/images/catalog/car/00800_01400/201707_catalog1.jpg" alt="アルティス" width="103" height="47">
                <span class="car-text">アルティス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ウェイク") do %>
                <img src="https://rc.ke-s.cc/200/150/1425019177/images/carname/10/2556-22172_9078d8de81ad47a3f41569fd47038963256f084c.jpg" alt="ウェイク" width="103" height="47">
                <span class="car-text">ウェイク</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "キャスト") do %>
                <img src="https://rc.ke-s.cc/200/150/1442478646/images/carname/10/2650-22325_a7346332fd341c870d926b9c586ff429fb468c7e.jpg" alt="キャスト" width="103" height="47">
                <span class="car-text">キャスト</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "タント") do %>
                <img src="https://rc.ke-s.cc/200/150/1560852416/images/carname/10/757-2755_5ee155d0f1b9cbea6d266bb136273f6b4921a4c9.jpg" alt="タント" width="103" height="47">
                <span class="car-text">タント</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "トール") do %>
                <img src="https://rc.ke-s.cc/200/150/1478842579/images/carname/10/2769-22479_d2f1cadabbbf1aada6830807fc6619751d61a9b8.jpg" alt="トール" width="103" height="47">
                <span class="car-text">トール</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ハイゼットデッキバン") do %>
                <img src="https://rc.ke-s.cc/200/150/1481169371/images/carname/10/2774-22488_b1bd5a046905610e6c79324199af948442f18601.jpg" alt="ハイゼットデッキバン" width="103" height="47">
                <span class="car-text">ハイゼットデッキバン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ミライース") do %>
                <img src="https://rc.ke-s.cc/200/150/1560852489/images/carname/10/1121-21829_a4aebd1044f83346a4bf041ff8ddaec2c9a71957.jpg" alt="ミライース" width="103" height="47">
                <span class="car-text">ミライース</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ムーヴ") do %>
                <img src="https://rc.ke-s.cc/200/150/1619423270/images/carname/10/167-484_a14304210bbaee3f40537be5ce84af0fd4034b8c.jpg" alt="ムーヴ" width="103" height="47">
                <span class="car-text">ムーヴ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ロッキー") do %>
                <img src="https://rc.ke-s.cc/200/150/1573193493/images/carname/10/169-1047_d7bcff91ea31a0a09872d09e719e609f2e8b2fa3.jpg" alt="ロッキー" width="103" height="47">
                <span class="car-text">ロッキー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ムーヴカスタム") do %>
                <img src="https://rc.ke-s.cc/200/150/1619423292/images/carname/10/167-2962_00d51a4ec718f9a7928acec8a6d5b3afb310529b.jpg" alt="ムーヴカスタム" width="103" height="47">
                <span class="car-text">ムーヴカスタム</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ムーヴキャンパス") do %>
                <img src="https://rc.ke-s.cc/200/150/1474372205/images/carname/10/2762-22458_0139f2943c6c53fce341a94963e4b0b62e34e676.jpg" alt="ムーヴキャンパス" width="103" height="47">
                <span class="car-text">ムーヴキャンパス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ミラココア") do %>
                <img src="https://rc.ke-s.cc/200/150/1569596400/images/catalog/car/00800_00G01/201408_catalog1.jpg" alt="ミラココア" width="103" height="47">
                <span class="car-text">ミラココア</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "いすゞ") do %>
        <img src="https://p3.ke-s.cc/img/top2017/maker/isuzu.png" alt="いすゞ" width="103" height="47">
        <div>いすゞ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">いすゞの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "エルフ") do %>
                <img src="https://rc.ke-s.cc/200/150/1425644660/images/carname/8/666-2605_67d7265721feb4834bd845b39d0090bade92efd1.jpg" alt="エルフ" width="103" height="47">
                <span class="car-text">エルフ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "フォワード") do %>
                <img src="https://rc.ke-s.cc/200/150/1425644494/images/carname/8/1781-4071_f6ac7b456f336746e7a10882f0d887c8f367f6da.jpg" alt="フォワード" width="103" height="47">
                <span class="car-text">フォワード</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ギガ") do %>
                <img src="https://rc.ke-s.cc/200/150/1425643505/images/carname/8/1784-19821_1f0e242ab877a8b8233f306b88c1b7fd9c7a22ce.jpg" alt="ギガ" width="103" height="47">
                <span class="car-text">ギガ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ジャーニー") do %>
                <img src="https://rc.ke-s.cc/200/150/1434693142/images/carname/8/1163-10410_1f9ce42ad883764968665220d6be3151b99284cf.jpg" alt="ジャーニー" width="103" height="47">
                <span class="car-text">ジャーニー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ビッグホーン") do %>
                <img src="https://rc.ke-s.cc/200/150/1517981934/images/catalog/car/00700_10708/200107_catalog1.jpg" alt="ビッグホーン" width="103" height="47">
                <span class="car-text">ビッグホーン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ミュー") do %>
                <img src="https://rc.ke-s.cc/200/150/1342580309/images/catalog/car/00700_10712/200107_catalog1.jpg" alt="ミュー" width="103" height="47">
                <span class="car-text">ミュー</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "日野") do %>
        <img src="https://rc.ke-s.cc/200/150/1561606595/images/carname/73/1179-21476_10ff825caba5b5ad1a8e362ceb92df597906c4ce.jpg" alt="日野自動車" width="103" height="47">
        <div>日野自動車</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">日野の人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "レンジャー") do %>
                <img src="https://rc.ke-s.cc/200/150/1434599758/images/carname/73/1178-19763_3460523705e22b0dcfd7aa8e2e12d1855645ce15.jpg" alt="レンジャー" width="103" height="47">
                <span class="car-text">レンジャー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "デュトロ") do %>
                <img src="https://rc.ke-s.cc/200/150/1434599597/images/carname/73/1176-20010_d26192df9ad96343c0d971870d02f502278b40e1.jpg" alt="デュトロ" width="103" height="47">
                <span class="car-text">デュトロ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "リエッセⅡ") do %>
                <img src="https://rc.ke-s.cc/200/150/1434600588/images/carname/73/1804-19986_d984012564f3218e22c912ca77cd2f52bf867312.jpg" alt="リエッセⅡ" width="103" height="47">
                <span class="car-text">リエッセⅡ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "メルファ") do %>
                <img src="https://rc.ke-s.cc/200/150/1434687487/images/carname/73/2605-22249_77fd54246b4b2bb8cdc75489df0cfd4ac91c07e3.jpg" alt="メルファ" width="103" height="47">
                <span class="car-text">メルファ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "スーパードルフィン") do %>
                <img src="https://rc.ke-s.cc/200/150/1434687199/images/carname/73/1950-21110_edf3dff5be45958cbaf6603e0f7a407d570b7ae1.jpg" alt="スーパードルフィン" width="103" height="47">
                <span class="car-text">スーパードルフィン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "セレガ") do %>
                <img src="https://rc.ke-s.cc/200/150/1434600809/images/carname/73/1949-20327_ca59eac7c5137af02aa18760a2c6790099f3b9f0.jpg" alt="セレガ" width="103" height="47">
                <span class="car-text">セレガ</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "光岡") do %>
        <img src="https://rc.ke-s.cc/200/150/1561607071/images/carname/29/1183-21193_087ecc5006d9dbf6e891d04c0281017563357062.jpg" alt="光岡自動車" width="103" height="47">
        <div>光岡自動車</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">光岡の人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "ロックスター") do %>
                <img src="https://rc.ke-s.cc/200/150/1544433559/images/carname/29/3007-22824_15e291fd67869daa16c00183be61d7eec37a5914.jpg" alt="ロックスター" width="103" height="47">
                <span class="car-text">ロックスター</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "リューギ") do %>
                <img src="https://rc.ke-s.cc/200/150/1657173042/images/catalog/car/01500_01100/201601_catalog1.jpg" alt="リューギ" width="103" height="47">
                <span class="car-text">リューギ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ガリュー") do %>
                <img src="https://rc.ke-s.cc/200/150/1606806182/images/carname/29/724-2729_d01e62cda3f57e7f1e6e397b310db36549a81382.jpg" alt="ガリュー" width="103" height="47">
                <span class="car-text">ガリュー</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h2>輸入車</h2>
  <div class="carcompany">
    <div class="car-item">
      <%= link_to posts_path(search: "ベンツ") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/mercedes-benz.png" alt="メルセデスベンツ" width="103" height="47">
        <div>メルセデスベンツ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">ベンツの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "Gクラス") do %>
                <img src="https://rc.ke-s.cc/65/50/1425024408/images/carname/12/1208-0_2ad3f32021b4891a32c2b4535d8e15f8f18ad295.jpg" alt="Gクラス" width="103" height="47">
                <span class="car-text">Gクラス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Sクラス") do %>
                <img src="https://rc.ke-s.cc/65/50/1685674203/images/carname/12/1212-0_50090e04b6411c31a30b1403fad822cb03354700.jpg" alt="Sクラス" width="103" height="47">
                <span class="car-text">Sクラス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Cクラスワゴン") do %>
                <img src="https://rc.ke-s.cc/65/50/1685674041/images/carname/12/1189-0_1b4414c3f8ddad2123e8e721e616a934485af040.jpg" alt="Cクラスワゴン" width="103" height="47">
                <span class="car-text">Cクラスワゴン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Cクラス") do %>
                <img src="https://rc.ke-s.cc/65/50/1685674041/images/carname/12/1189-0_1b4414c3f8ddad2123e8e721e616a934485af040.jpg" alt="Cクラス" width="103" height="47">
                <span class="car-text">Cクラス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Eクラス") do %>
                <img src="https://rc.ke-s.cc/65/50/1685674355/images/carname/12/538-0_38b278658aadbaf29cd9c0bfaacd025d69908d0a.jpg" alt="Eクラス" width="103" height="47">
                <span class="car-text">Eクラス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Aクラス") do %>
                <img src="https://rc.ke-s.cc/65/50/1448625850/images/carname/12/1185-0_dece47945eb4c92e8b49d4a47dccac5c6467f374.jpg" alt="Aクラス" width="103" height="47">
                <span class="car-text">Aクラス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Bクラス") do %>
                <img src="https://rc.ke-s.cc/65/50/1507622337/images/carname/12/1742-0_d17aac73981ea84df63968073f0999f2f31fd82c.jpg" alt="Bクラス" width="103" height="47">
                <span class="car-text">Bクラス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "AMG GT") do %>
                <img src="https://rc.ke-s.cc/65/50/1435824266/images/carname/12/536-0_a51cd4c9f98aafcd2e73e13f71e68641a18dc437.jpg" alt="AMG GT" width="103" height="47">
                <span class="car-text">AMG GT</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Eクラスワゴン") do %>
                <img src="https://rc.ke-s.cc/65/50/1425024231/images/carname/12/1192-0_63dc3765bb099e3ae2d6add910e9acff8debc715.jpg" alt="Eクラスワゴン" width="103" height="47">
                <span class="car-text">Eクラスワゴン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Vクラス") do %>
                <img src="https://rc.ke-s.cc/65/50/1621838560/images/carname/12/544-0_c0721fa57780469e7ae77d7d943f275c9dd2b2fa.jpg" alt="Vクラス" width="103" height="47">
                <span class="car-text">Vクラス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "CLAシューティングブレーク") do %>
                <img src="https://rc.ke-s.cc/65/50/1448524086/images/carname/12/2643-0_f734142e8da4ac466c3ee26b6efa112c2a1683bc.jpg" alt="CLAシューティングブレーク" width="103" height="47">
                <span class="car-text">CLAシューティングブレーク</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "GLE") do %>
                <img src="https://rc.ke-s.cc/65/50/1448615038/images/carname/12/2679-0_4632da9153ffc02a25c637d8bfdfdf15b3667a30.jpg" alt="GLE" width="103" height="47">
                <span class="car-text">GLE</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "BMW") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/bmw.png" alt="BMW" width="103" height="47">
        <div>BMW</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">BMWの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "Z4") do %>
                <img src="https://rc.ke-s.cc/65/50/1629868840/images/carname/11/1234-0_0a5c91166622e85375a2b65f2a17da051128f621.jpg" alt="Z4" width="103" height="47">
                <span class="car-text">Z4</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "X1") do %>
                <img src="https://rc.ke-s.cc/65/50/1451032615/images/carname/11/2253-0_ce771592e998a7410007fff742d468c0a72046a5.jpg" alt="X1" width="103" height="47">
                <span class="car-text">X1</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "3シリーズセダン") do %>
                <img src="https://rc.ke-s.cc/65/50/1629866765/images/carname/11/2-0_6382cd829a40f67d5c35fe05b3a8f5e26c3c62ef.jpg" alt="3シリーズセダン" width="103" height="47">
                <span class="car-text">3シリーズセダン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "5シリーズセダン") do %>
                <img src="https://rc.ke-s.cc/65/50/1453293359/images/carname/11/3-0_f03cbf1d3fbcc73dd6c3bd88074b5c8ad9ef98b0.jpg" alt="5シリーズセダン" width="103" height="47">
                <span class="car-text">5シリーズセダン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "3シリーズツーリング") do %>
                <img src="https://rc.ke-s.cc/65/50/1629866878/images/carname/11/2692-0_af682241303e18403a688d57fa25eacbd4756525.jpg" alt="3シリーズツーリング" width="103" height="47">
                <span class="car-text">3シリーズツーリング</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "1シリーズ") do %>
                <img src="https://rc.ke-s.cc/65/50/1640240346/images/carname/11/1696-0_2a33ce2f2f4c5d3c6f7524f1e969803ccb2a7fc9.jpg" alt="1シリーズ" width="103" height="47">
                <span class="car-text">1シリーズ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "3シリーズクーペ") do %>
                <img src="https://rc.ke-s.cc/65/50/1453292449/images/carname/11/2691-0_1ea2d4fdca25169c971aede638989e00d6499295.jpg" alt="3シリーズクーペ" width="103" height="47">
                <span class="car-text">3シリーズクーペ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "6シリーズクーペ") do %>
                <img src="https://rc.ke-s.cc/65/50/1453293561/images/carname/11/799-0_cd90f3ed39646f6b6253876f5a6a3bcfea2ee966.jpg" alt="6シリーズクーペ" width="103" height="47">
                <span class="car-text">6シリーズクーペ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "5シリーズツーリング") do %>
                <img src="https://rc.ke-s.cc/65/50/1453293445/images/carname/11/2698-0_15e1ce0aff358bb466c3e36745267781ab4879b0.jpg" alt="5シリーズツーリング" width="103" height="47">
                <span class="car-text">5シリーズツーリング</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "X3") do %>
                <img src="https://rc.ke-s.cc/65/50/1399007827/images/carname/11/1703-0_1d307109ef95d7eaba652870c709603a35097992.jpg" alt="X3" width="103" height="47">
                <span class="car-text">X3</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "M5") do %>
                <img src="https://rc.ke-s.cc/65/50/1425028021/images/carname/11/1226-0_1ae53c72c45f8a92bd98f3542985bd4047c72661.jpg" alt="M5" width="103" height="47">
                <span class="car-text">M5</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "iX") do %>
                <img src="https://rc.ke-s.cc/200/150/1640230560/images/carname/11/3207-0_b5e5b7f77427886b7cd61dc92bf2a86a51e30b0c.jpg" alt="iX" width="103" height="47">
                <span class="car-text">iX</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "アウディ") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/audi.png" alt="アウディ" width="103" height="47">
        <div>アウディ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">アウディの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "A3スポーツバック") do %>
                <img src="https://rc.ke-s.cc/65/50/1621404403/images/carname/13/2505-21711_677d9d7a34f7278cf57abcbd0f0cd863a706c51e.jpg" alt="A3スポーツバック" width="103" height="47">
                <span class="car-text">A3スポーツバック</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "TTクーペ") do %>
                <img src="https://rc.ke-s.cc/65/50/1448619159/images/carname/13/25-4490_bff0be8a78cd47ece4b19632ddad27d6920d2ad6.jpg" alt="TTクーペ" width="103" height="47">
                <span class="car-text">TTクーペ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "A4アバント") do %>
                <img src="https://rc.ke-s.cc/65/50/1621412942/images/carname/13/1249-19855_b774799fe34d3981307db92c3c15af9c89e5aa3b.jpg" alt="A4アバント" width="103" height="47">
                <span class="car-text">A4アバント</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "TTロードスター") do %>
                <img src="https://rc.ke-s.cc/65/50/1425032674/images/carname/13/26-4756_9609a86b2e85849bf76a1ffc61a384d9e758ea0a.jpg" alt="TTロードスター" width="103" height="47">
                <span class="car-text">TTロードスター</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "A1スポーツバック") do %>
                <img src="https://rc.ke-s.cc/65/50/1625731396/images/carname/13/2504-21883_1f1855b842c19e49a39c1227cad04eafddee5024.jpg" alt="A1スポーツバック" width="103" height="47">
                <span class="car-text">A1スポーツバック</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Q3") do %>
                <img src="https://rc.ke-s.cc/65/50/1621415067/images/carname/13/2353-21876_37f8f2aaf3e7f9a4b2b6acab7fd933b523fb24db.jpg" alt="Q3" width="103" height="47">
                <span class="car-text">Q3</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "A5カブリオレ") do %>
                <img src="https://rc.ke-s.cc/65/50/1621412638/images/carname/13/2220-21666_e2f2123ec34a04a869cd1f5a00bba760cfab41b0.jpg" alt="A5カブリオレ" width="103" height="47">
                <span class="car-text">A5カブリオレ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "A5スポーツバック") do %>
                <img src="https://rc.ke-s.cc/65/50/1621413441/images/carname/13/2306-21712_572b23c719bc0f9c031c413876bb1f281c70c9d0.jpg" alt="A5スポーツバック" width="103" height="47">
                <span class="car-text">A5スポーツバック</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "RS3スポーツバック") do %>
                <img src="https://rc.ke-s.cc/65/50/1621419899/images/carname/13/2673-22358_397d061484d5045efe1d5641d9d833dd33e5c01b.jpg" alt="RS3スポーツバック" width="103" height="47">
                <span class="car-text">RS3スポーツバック</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "TT RSクーペ") do %>
                <img src="https://rc.ke-s.cc/65/50/1621416849/images/carname/13/2246-21713_372fc0188686e9a6457becb8cce73ed1506202fd.jpg" alt="TT RSクーペ" width="103" height="47">
                <span class="car-text">TT RSクーペ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "A3セダン") do %>
                <img src="https://rc.ke-s.cc/65/50/1621404517/images/carname/13/2502-22089_886147ebc45d47233a21845b7752096ffcd73041.jpg" alt="A3セダン" width="103" height="47">
                <span class="car-text">A3セダン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "Q7") do %>
                <img src="https://rc.ke-s.cc/65/50/1621416414/images/carname/13/1826-20065_2b056fb169549487ce3bda56f5cf0831333b11b2.jpg" alt="Q7" width="103" height="47">
                <span class="car-text">Q7</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "フォルクスワーゲン") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/volkswagen.png" alt="フォルクスワーゲン" width="103" height="47">
        <div>フォルクスワーゲン</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">フォルクスワーゲンの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "ザ・ビートル") do %>
                <img src="https://rc.ke-s.cc/65/50/1515652618/images/carname/14/381-666_34980a032c8c9a5ac29b15ed522cf58b090bb4c3.jpg" alt="ザ・ビートル" width="103" height="47">
                <span class="car-text">ザ・ビートル</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ゴルフ") do %>
                <img src="https://rc.ke-s.cc/65/50/1561713543/images/carname/14/379-3495_14537835c26da8c6021b127153bda78adf6f7985.jpg" alt="ゴルフ" width="103" height="47">
                <span class="car-text">ゴルフ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ビートル") do %>
                <img src="https://rc.ke-s.cc/65/50/1396444951/images/carname/14/1273-20447_33c4704af0c91f64195f66076c2fb7dacdaedefe.jpg" alt="ビートル" width="103" height="47">
                <span class="car-text">ビートル</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ザ・ビートル・カブリオレ") do %>
                <img src="https://rc.ke-s.cc/65/50/1621494644/images/carname/14/2457-22015_23e4ca2a10ae7a02afa2ead8382f6dc3b9ac32cd.jpg" alt="ザ・ビートル・カブリオレ" width="103" height="47">
                <span class="car-text">ザ・ビートル・カブリオレ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ポロ") do %>
                <img src="https://rc.ke-s.cc/65/50/1515651169/images/carname/14/385-3709_c67126cb64bc10bf0d808a7df984a39e0c447923.jpg" alt="ポロ" width="103" height="47">
                <span class="car-text">ポロ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "up!") do %>
                <img src="https://rc.ke-s.cc/65/50/1561713371/images/carname/14/2402-21949_19b02f0d4806db7826da3a46bddee840ce507ee0.jpg" alt="up!" width="103" height="47">
                <span class="car-text">up!</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ニュービートルカブリオレ") do %>
                <img src="https://rc.ke-s.cc/65/50/1311136249/images/catalog/car/02000_00301/200810_catalog1.jpg" alt="ニュービートルカブリオレ" width="103" height="47">
                <span class="car-text">ニュービートルカブリオレ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ニュービートル") do %>
                <img src="https://rc.ke-s.cc/65/50/1328670274/images/catalog/car/02000_00602/200909_catalog1.jpg" alt="ニュービートル" width="103" height="47">
                <span class="car-text">ニュービートル</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "イオス") do %>
                <img src="https://rc.ke-s.cc/65/50/1339383248/images/catalog/car/02000_09001/200901_catalog1.jpg" alt="イオス" width="103" height="47">
                <span class="car-text">イオス</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "シロッコ") do %>
                <img src="https://rc.ke-s.cc/65/50/1403152729/images/catalog/car/02000_12032/201305_catalog1.jpg" alt="シロッコ" width="103" height="47">
                <span class="car-text">シロッコ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ビートルカブリオレ") do %>
                <img src="https://rc.ke-s.cc/65/50/1396444922/images/carname/14/1273-20448_b1b3929fe67fd58bc250c48d0a3c8656edcb0c54.jpg" alt="ビートルカブリオレ" width="103" height="47">
                <span class="car-text">ビートルカブリオレ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "クロスポロ") do %>
                <img src="https://rc.ke-s.cc/65/50/1435832090/images/carname/14/1938-20310_c62974b511c06acfe9ce11e8aa4c04059173ddb2.jpg" alt="クロスポロ" width="103" height="47">
                <span class="car-text">クロスポロ</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ポルシェ") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/porsche.png" alt="ポルシェ" width="103" height="47">
        <div>ポルシェ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">ポルシェの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "911") do %>
                <img src="https://rc.ke-s.cc/65/50/1456128756/images/carname/15/405-2345_16506d170fb84ef7f4b594faf7a43f3b1c936b0f.jpg" alt="911" width="103" height="47">
                <span class="car-text">911</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "マカン") do %>
                <img src="https://rc.ke-s.cc/65/50/1456129739/images/carname/15/2520-22114_6dac64b8e1828a7c8d66f43166798cbd84f49c40.jpg" alt="マカン" width="103" height="47">
                <span class="car-text">マカン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ボクスター") do %>
                <img src="https://rc.ke-s.cc/65/50/1456128199/images/carname/15/409-676_349ac32ad8fd14f7c4cea1fcd4e8009084ea4a22.jpg" alt="ボクスター" width="103" height="47">
                <span class="car-text">ボクスター</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "718スパイダー") do %>
                <img src="https://rc.ke-s.cc/65/50/1594180603/images/carname/15/3101-23003_c04e899e3917c799129365ee5d4af148051af5ec.jpg" alt="718スパイダー" width="103" height="47">
                <span class="car-text">718スパイダー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "カイエン") do %>
                <img src="https://rc.ke-s.cc/65/50/1456128344/images/carname/15/1281-5220_d074640a9c6de1c5dfb300f5ef8dd216094186f6.jpg" alt="カイエン" width="103" height="47">
                <span class="car-text">カイエン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "パナメーラ") do %>
                <img src="https://rc.ke-s.cc/65/50/1456128607/images/carname/15/2223-21669_83f2eea55611f44eb816edd5014f7b34b89ce256.jpg" alt="パナメーラ" width="103" height="47">
                <span class="car-text">パナメーラ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ケイマン") do %>
                <img src="https://rc.ke-s.cc/65/50/1456128490/images/carname/15/1872-20158_3ab40027f03204c3675c7f1c4734ee7ef7125673.jpg" alt="ケイマン" width="103" height="47">
                <span class="car-text">ケイマン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "911カブリオレ") do %>
                <img src="https://rc.ke-s.cc/65/50/1443790446/images/carname/15/2660-22342_f8584bf72eb8affb20a9a1f77683ed5f3d7257ca.jpg" alt="911カブリオレ" width="103" height="47">
                <span class="car-text">911カブリオレ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "718ケイマン") do %>
                <img src="https://rc.ke-s.cc/65/50/1465556663/images/carname/15/2746-22424_0fdf359ef279b776a5934e3f4880d19739e11cd4.jpg" alt="718ケイマン" width="103" height="47">
                <span class="car-text">718ケイマン</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "プジョー") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/peugeot.png" alt="プジョー" width="103" height="47">
        <div>プジョー</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list">
          <h6 class="title_popular">プジョーの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "308CC") do %>
                <img src="https://rc.ke-s.cc/65/50/1435900544/images/carname/23/2630-22288_a8c98074276d37982352ea4014888a4bc7f0927d.jpg" alt="308CC" width="103" height="47">
                <span class="car-text">308CC</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "RCZ") do %>
                <img src="https://rc.ke-s.cc/65/50/1569596400/images/catalog/car/06200_00001/201008_catalog1.jpg" alt="RCZ" width="103" height="47">
                <span class="car-text">RCZ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "3008") do %>
                <img src="https://rc.ke-s.cc/65/50/1576826972/images/carname/23/2256-21728_e3589732b0cc6cd90ef6f7641950546b751e4019.jpg" alt="3008" width="103" height="47">
                <span class="car-text">3008</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "308SW") do %>
                <img src="https://rc.ke-s.cc/65/50/1576827166/images/carname/23/2631-22289_8e2163f6bb55a6570a283ed280765bff6fda49bc.jpg" alt="308SW" width="103" height="47">
                <span class="car-text">308SW</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "206CC") do %>
                <img src="https://rc.ke-s.cc/65/50/1435899616/images/carname/23/2624-22284_69cf0defafa0fefc1c608cf51219eafe681de31b.jpg" alt="206CC" width="103" height="47">
                <span class="car-text">206CC</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "106") do %>
                <img src="https://rc.ke-s.cc/65/50/1313480095/images/catalog/car/06200_16201/200210_catalog1.jpg" alt="106" width="103" height="47">
                <span class="car-text">106</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "208") do %>
                <img src="https://rc.ke-s.cc/65/50/1576826399/images/carname/23/2403-21950_f299c60858de26e1645dbf6ae84e0abeefa5e50d.jpg" alt="208" width="103" height="47">
                <span class="car-text">208</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "207CC") do %>
                <img src="https://rc.ke-s.cc/65/50/1435899022/images/carname/23/2626-22286_b45c70722ba98c5cb105c70acbaae087eeaefe93.jpg" alt="207CC" width="103" height="47">
                <span class="car-text">207CC</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "2008") do %>
                <img src="https://rc.ke-s.cc/65/50/1398390815/images/carname/23/2511-22095_7326a731e6afa26b16544f15d70b96caf3ba5d8b.jpg" alt="2008" width="103" height="47">
                <span class="car-text">2008</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "508") do %>
                <img src="https://rc.ke-s.cc/65/50/1576826779/images/carname/23/2314-21810_cc5d280e3545f3238f607a14247dccd7a0ba8a26.jpg" alt="508" width="103" height="47">
                <span class="car-text">508</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "306カブリオレ") do %>
                <img src="https://rc.ke-s.cc/65/50/1451267141/images/carname/23/2639-22293_42e9d77c3888130b37d7ee1787c3ce4f1728ecac.jpg" alt="306カブリオレ" width="103" height="47">
                <span class="car-text">306カブリオレ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "308") do %>
                <img src="https://rc.ke-s.cc/200/150/1576827068/images/carname/23/2024-21198_3b40b0eef3d1acd498c15bcf0e8b77200c72fb4c.jpg" alt="308" width="103" height="47">
                <span class="car-text">308</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ミニ") do %>
        <img src="https://cdn.autoc-one.jp/catalog/assets/image/brand/mini.png" alt="ミニ" width="103" height="47">
        <div>ミニ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">ミニの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "ミニクラブマン") do %>
                <img src="https://rc.ke-s.cc/200/150/1642659664/images/carname/200/3228-22278_a22d6e8f3f935d1271474efbf409460546d3e978.jpg" alt="ミニクラブマン" width="103" height="47">
                <span class="car-text">ミニクラブマン</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ミニクロスオーバー") do %>
                <img src="https://rc.ke-s.cc/200/150/1642659672/images/carname/200/3229-22279_be7c335999bb0fb9d3d964e58bddde0c3bf0c0a1.jpg" alt="ミニクロスオーバー" width="103" height="47">
                <span class="car-text">ミニクロスオーバー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ミニクーペ") do %>
                <img src="https://rc.ke-s.cc/200/150/1642661642/images/carname/200/3230-22280_1f976b8a19677cf590a43ad41d5ede62d2624cdd.jpg" alt="ミニクーペ" width="103" height="47">
                <span class="car-text">ミニクーペ</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ボルボ") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/volvo.png" alt="ボルボ" width="103" height="47">
        <div>ボルボ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">ボルボの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "V40") do %>
                <img src="https://rc.ke-s.cc/65/50/1622189405/images/carname/24/423-798_c6d59d37f0f614a41df59091d2512cc51ad7b13d.jpg" alt="V40" width="103" height="47">
                <span class="car-text">V40</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "V60") do %>
                <img src="https://rc.ke-s.cc/65/50/1622188070/images/carname/24/2310-21807_6c7c876c8d3e86a0b7431ef6f169561776f0a5a6.jpg" alt="V60" width="103" height="47">
                <span class="car-text">V60</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "XC60") do %>
                <img src="https://rc.ke-s.cc/65/50/1622188340/images/carname/24/2226-21672_33f979d2ddaa042314a430e6fba4a2256fc5d129.jpg" alt="XC60" width="103" height="47">
                <span class="car-text">XC60</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "V40クロスカントリー") do %>
                <img src="https://rc.ke-s.cc/65/50/1622189652/images/carname/24/2648-22320_c25cd08518091925e1922cd4b83e47da694fc4e7.jpg" alt="V40クロスカントリー" width="103" height="47">
                <span class="car-text">V40クロスカントリー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "XC90") do %>
                <img src="https://rc.ke-s.cc/65/50/1622188453/images/carname/24/672-2596_5b05d9e532a0c583b239d57494e22f714f478963.jpg" alt="XC90" width="103" height="47">
                <span class="car-text">XC90</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "V50") do %>
                <img src="https://rc.ke-s.cc/65/50/1622189262/images/carname/24/1449-5294_7b3e32c162f77df5ab73bbafd8e135c61bf951b6.jpg" alt="V50" width="103" height="47">
                <span class="car-text">V50</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "850エステート") do %>
                <img src="https://rc.ke-s.cc/65/50/1622191235/images/carname/24/1446-1542_e5cf302084ac88b1f528f0d97e5d13db48088be8.jpg" alt="850エステート" width="103" height="47">
                <span class="car-text">850エステート</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "V90") do %>
                <img src="https://rc.ke-s.cc/65/50/1622187946/images/carname/24/1450-1927_10bbb0794036d91b6cb73613c3b02f59fbf496c7.jpg" alt="V90" width="103" height="47">
                <span class="car-text">V90</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "960エステート") do %>
                <img src="https://rc.ke-s.cc/65/50/1523082063/images/carname/24/1448-1414_ccba71f7692041f2caec22191ec4c50c9b93d58b.jpg" alt="960エステート" width="103" height="47">
                <span class="car-text">960エステート</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "P1800") do %>
                <img src="https://rc.ke-s.cc/65/50/1630298297/images/carname/24/1455-6451_8fc8308f8b3b7b330406329946a6a0cfd7485455.jpg" alt="P1800" width="103" height="47">
                <span class="car-text">P1800</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "V70") do %>
                <img src="https://rc.ke-s.cc/65/50/1622189172/images/carname/24/424-799_18ef37acb7acf9d9826f596103a6580dde1c2ada.jpg" alt="V70" width="103" height="47">
                <span class="car-text">V70</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "960") do %>
                <img src="https://rc.ke-s.cc/65/50/1622190653/images/carname/24/415-1413_965bae5fb4a3b430f32dab198579dd5f4ad45a47.jpg" alt="960" width="103" height="47">
                <span class="car-text">960</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "Jeep") do %>
        <img src="https://cdn.autoc-one.jp/catalog/assets/image/brand/jeep.png" alt="Jeep" width="103" height="47">
        <div>Jeep</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">Jeepの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "COMPASS") do %>
                <img src="https://www.jeep-japan.com/content/dam/cross-regional/apac/jeep/ja_jp/global/header/Vehicles/Standard-Models/compass_new_2.jpg.img.300.jpg" alt="COMPASS" width="103" height="47">
                <span class="car-text">COMPASS</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "WRANGLER") do %>
                <img src="https://www.jeep-japan.com/content/dam/cross-regional/apac/jeep/ja_jp/global/header/Vehicles/Standard-Models/wrangler-jl-2.jpg.img.300.jpg" alt="WRANGLER" width="103" height="47">
                <span class="car-text">WRANGLER</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "4XE") do %>
                <img src="https://www.jeep-japan.com/content/dam/cross-regional/apac/jeep/ja_jp/header/renegade-4xe_halogen.jpg.img.300.jpg" alt="4XE" width="103" height="47">
                <span class="car-text">4XE</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ルノー") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/renault.png" alt="ルノー" width="103" height="47">
        <div>ルノー</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">ルノーの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "カングー") do %>
                <img src="https://rc.ke-s.cc/65/50/1451269043/images/carname/22/559-2304_2cb8fc36fc0118eec802a5b3befe0c24402ee76b.jpg" alt="カングー" width="103" height="47">
                <span class="car-text">カングー</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "ルーテシア") do %>
                <img src="https://rc.ke-s.cc/65/50/1622454846/images/carname/22/552-773_a981dd0f2470362ac9773941df42e5eec236843d.jpg" alt="ルーテシア" width="103" height="47">
                <span class="car-text">ルーテシア</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "トゥインゴ") do %>
                <img src="https://rc.ke-s.cc/65/50/1622453201/images/carname/22/563-770_f1d3faa0296798098aaf6013666304f68e4a2bf9.jpg" alt="トゥインゴ" width="103" height="47">
                <span class="car-text">トゥインゴ</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "フィアット") do %>
        <img src="https://p2.ke-s.cc/img/top2017/maker/fiat.png" alt="フィアット" width="103" height="47">
        <div>フィアット</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">フィアットの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "500") do %>
                <img src="https://rc.ke-s.cc/65/50/1481169879/images/carname/19/1368-5359_94053923f9863d458f5c5822fc8e56660427ba1b.jpg" alt="500" width="103" height="47">
                <span class="car-text">500</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "パンダ") do %>
                <img src="https://rc.ke-s.cc/65/50/1679034986/images/catalog/car/04200_00200/201306_catalog1.jpg" alt="パンダ" width="103" height="47">
                <span class="car-text">パンダ</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "グランデプント") do %>
                <img src="https://rc.ke-s.cc/65/50/1569596400/images/catalog/car/04200_00400/200905_catalog1.jpg" alt="グランデプント" width="103" height="47">
                <span class="car-text">グランデプント</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "テスラ") do %>
        <img src="/assets/0x0-Tesla_T_Black.png" alt="テスラ" width="103" height="47">
        <div>テスラ</div>
      <% end %>
      <div class="popular_cars">
        <div class="btn_dummy"></div>
        <div class="car-list car-list2">
          <h6 class="title_popular">テスラの人気車種</h6>
          <ul>
            <li>
              <%= link_to posts_path(search: "モデル3") do %>
                <img src="https://rc.ke-s.cc/200/150/1614658419/images/carname/168/3115-23025_fd81de6029ef609cf7c361243f859823f91f543f.jpg" alt="モデル3" width="103" height="47">
                <span class="car-text">モデル3</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "モデルS") do %>
                <img src="https://rc.ke-s.cc/200/150/1614658430/images/carname/168/2592-22225_95ddcc63c9e2f050eb883842cc10c23fccbec5af.jpg" alt="モデルS" width="103" height="47">
                <span class="car-text">モデルS</span>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(search: "モデルX") do %>
                <img src="https://rc.ke-s.cc/200/150/1614658440/images/carname/168/2593-22226_49cd79fa1431b005202f58a31539b08d197b1191.jpg" alt="モデルX" width="103" height="47">
                <span class="car-text">モデルX</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h3 id="def">ボディタイプから検索</h3>
  <div class="carcompany">
    <div class="car-item">
      <%= link_to posts_path(search: "軽自動車") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/kei.png" alt="軽自動車" width="103" height="47">
        <div>軽自動車</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "コンパクトカー") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/compact.png" alt="コンパクトカー" width="103" height="47">
        <div>コンパクトカー</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ハッチバック") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/hatchback.png" alt="ハッチバック" width="103" height="47">
        <div>ハッチバック</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ミニバン") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/minivan.png" alt="ミニバン" width="103" height="47">
        <div>ミニバン</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "SUV") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/suv.png" alt="SUV" width="103" height="47">
        <div>SUV</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ステーションワゴン") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/station_wagon.png" alt="ステーションワゴン" width="103" height="47">
        <div>ステーションワゴン</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "セダン") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/sedan.png" alt="セダン" width="103" height="47">
        <div>セダン</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "クーペ") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/coupe.png" alt="クーペ" width="103" height="47">
        <div>クーペ</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "スポーツカー") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/open.png" alt="スポーツカー" width="103" height="47">
        <div>スポーツカー</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "トラック") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/truck.png" alt="トラック" width="103" height="47">
        <div>トラック</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ピックアップトラック") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/pickup_truck.png" alt="ピックアップトラック" width="103" height="47">
        <div>ピックアップトラック</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "商用車・バン") do %>
        <img src="https://cdn.autoc-one.jp/used/image/bodytype/kei.png" alt="商用車・バン" width="103" height="47">
        <div>商用車・バン</div>
      <% end %>
    </div>
  </div>
  <h3 id="ghi">エンジンタイプから検索</h3>
  <div class="carcompany">
    <div class="car-item">
      <%= link_to posts_path(search: "ガソリン") do %>
        <img src="https://cdn.autoc-one.jp/used/image/engine/gasoline.png" alt="ガソリン" width="80" height="47">
        <div>ガソリン</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ディーゼル") do %>
        <img src="https://cdn.autoc-one.jp/used/image/engine/diesel.png" alt="ディーゼル" width="80" height="47">
        <div>ディーゼル</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "ハイブリッド") do %>
        <img src="https://cdn.autoc-one.jp/used/image/engine/hybrid.png" alt="ハイブリッド" width="80" height="47">
        <div>ハイブリッド</div>
      <% end %>
    </div>
    <div class="car-item">
      <%= link_to posts_path(search: "電気自動車・EV") do %>
        <img src="https://cdn.autoc-one.jp/used/image/engine/ev.png" alt="電気自動車・EV" width="80" height="47">
        <div>電気自動車・EV</div>
      <% end %>
    </div>
  </div>
  <h3>国産車WEBサイト</h3>
  <div class="carcompany">
    <div class="car-item">
      <a href="https://toyota.jp/index.html" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/toyota.png" width="150" height="100">
        <div>トヨタ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://lexus.jp/" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/lexus.png" width="150" height="100">
        <div>レクサス</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.nissan.co.jp/" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/nissan.png" width="150" height="100">
        <div>日産</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.suzuki.co.jp/car/lineup/?utm_source=google&utm_medium=cpc&utm_campaign=hkd_all_alwayson_02NN_i&gclid=CjwKCAjw2OiaBhBSEiwAh2ZSP5qWdOkYrWKlVpSPVniXfVEuf3Yd8Ap2WjCx7cdl6HSIhI4_AClXnhoCeAAQAvD_BwE" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/suzuki.png" width="150" height="100">
        <div>スズキ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.subaru.jp/" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/subaru.png" width="150" height="100">
        <div>スバル</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.daihatsu.co.jp/index.htm" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/daihatsu.png" width="150" height="100">
        <div>ダイハツ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.honda.co.jp/" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/honda.png" width="150" height="100">
        <div>ホンダ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.mazda.co.jp/" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/mazda.png" width="150" height="100">
        <div>マツダ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.mitsubishi-motors.co.jp/" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/mitsubishi.png" width="150" height="100">
        <div>三菱</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.isuzu.co.jp/" target="_blank">
        <img src="https://p3.ke-s.cc/img/top2017/maker/isuzu.png" width="150" height="100">
        <div>いすゞ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.hino.co.jp/" target="_blank">
        <img src="https://rc.ke-s.cc/200/150/1561606595/images/carname/73/1179-21476_10ff825caba5b5ad1a8e362ceb92df597906c4ce.jpg" width="150" height="100">
        <div>日野自動車</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.mitsuoka-motor.com/" target="_blank">
        <img src="https://rc.ke-s.cc/200/150/1561607071/images/carname/29/1183-21193_087ecc5006d9dbf6e891d04c0281017563357062.jpg" width="150" height="100">
        <div>光岡自動車</div>
      </a>
    </div>
  </div>
  <h3>輸入車WEBサイト</h3>
  <div class="carcompany">
    <div class="car-item">
      <a href="https://www.mercedes-benz.co.jp/passengercars.html?group=all&subgroup=all.saloon&view=BODYTYPE" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/mercedes-benz.png" width="150" height="100">
        <div>メルセデスベンツ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.bmw.co.jp/ja/index.html" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/bmw.png" width="150" height="100">
        <div>BMW</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.audi.co.jp/jp/web/ja.html" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/audi.png" width="150" height="100">
        <div>アウディ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.volkswagen.co.jp/ja.html" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/volkswagen.png" width="150" height="100">
        <div>フォルクスワーゲン</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.porsche.com/japan/jp/" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/porsche.png" width="150" height="100">
        <div>ポルシェ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.peugeot.co.jp/" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/peugeot.png" width="150" height="100">
        <div>プジョー</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.mini.jp/ja_JP/home.html" target="_blank">
        <img src="https://cdn.autoc-one.jp/catalog/assets/image/brand/mini.png" width="150" height="100">
        <div>ミニ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.volvocars.com/jp/" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/volvo.png" width="150" height="100">
        <div>ボルボ</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.jeep-japan.com/" target="_blank">
        <img src="https://cdn.autoc-one.jp/catalog/assets/image/brand/jeep.png" width="150" height="100">
        <div>Jeep</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.renault.jp/" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/renault.png" width="150" height="100">
        <div>ルノー</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.fiat-auto.co.jp/" target="_blank">
        <img src="https://p2.ke-s.cc/img/top2017/maker/fiat.png" width="150" height="100">
        <div>フィアット</div>
      </a>
    </div>
    <div class="car-item">
      <a href="https://www.tesla.com/ja_jp" target="_blank">
        <img src="/assets/0x0-Tesla_T_Black.png" width="150" height="100">
        <div>テスラ</div>
      </a>
    </div>
  </div>
</div>
