<div class="post">
  <div class="text">
    <div class="title">
      <h2>投稿詳細</h2>
    </div>
    <p class="user-name">ユーザー名<br><%= @post.user.name %></p>
    <% if current_user.name? %>
      <%= attachment_image_tag @post, :car_image, :size => '200x200', class: "images" %>
    <% end %>
    <p><%= @post.title %></p>
    <p><%= @post.body %></p>
    <p><%= @post.category.name %></p>
    <% if @post.user_id == current_user.id %>
      <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      <%= link_to("削除", "/posts/#{@post.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) %>
    <% end %>
    <%= link_to("戻る", "/posts") %>
    <%= link_to("回答", "/posts/#{@post.id}/browses/new") %>
  </div>
</div>
<div class="title">
  <h2>回答一覧</h2>
</div>
<div class="browse">
  <% @post.browses.each do |browse| %>
    <p class="user-name"><%= browse.user.name %></p>
    <p><%= browse.body %></p>
    <%= attachment_image_tag browse, :car_image, :size => '200x200', fallback: "no-image.png", class: "images" %>
  <% end %>
</div>
